.headline {
  width: auto;
  background-color: #ffffcc;
  border: 0;
}

.infobox {
  align-self: center;
  text-align: center;
  width: auto;
  font-size: 1.7rem;
  font-weight: 500;
  font-family: inherit;
}
